header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.top_wrap {
    background-color: #000;
}

.midle_wrap {
    background: #fff;
}

.bott_wrap {
    margin: 0 auto;
    padding: 12px 0;
    max-width: 1400px;
}

.bott_wrap p {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #333;
}

.bott_wrap p img {
    padding: 0 10px 0 0;
}

.bott_wrap p span {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #333;
}

.bottom_header_wrap {
    background-color: #053863;
    position: relative;
}

.bottom_header_box {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
}

.bottom_header_box h1 {
    padding: 21px 0;
}

.gnb_wrap {
    padding: 40px 0 0 0;
    margin-left: 112px;
}

.gnb_ul {
    display: flex;
}

.gnb_ul li {
    padding: 0 60px 0 0;
}

.gnb_ul li a {
    position: relative;
    padding-bottom: 37px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 22px;
}

.sub_mn_box {
    /* width: 100vw;  배경 크기 조절 필요시*/
    display: none;
    /* display: table; */
    top: 100%;
    position: absolute;
    left: 0;
    z-index: 50;
    width: 100%;
    min-height: 400px;
    table-layout: fixed;
    overflow: hidden;
}

.sub_mn_title {
    display: table-cell;
    position: relative;
    padding: 35px 15px 0 0;
    width: 230px;
    box-sizing: border-box;
    vertical-align: top;
    background: url("../Office-for/img/bg-gnb-tit.png") no-repeat right -22px bottom -100px;
}

.sub_mn_title span {
    display: block;
    font-weight: 200;
    font-size: 30px;
    color: #000;
    line-height: 35px;
}

.sub_mn {
    display: table-cell;
    padding: 0 0 0 40px;
    width: 100%;
    background-color: #fff;
    font-size: 0;
    text-align: left;
}

.sub_mn > li {
    position: relative;
    display: inline-block;
    padding: 30px 28px 35px 0;
    width: 20%;
    min-height: 162px;
    word-break: keep-all;
    box-sizing: border-box;
    vertical-align: top;
}

.sub_mn > li > a {
    display: block;
    position: relative;
    padding: 14px 15px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f8f9fb;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    line-height: 25px;
    letter-spacing: -0.5px;
    box-sizing: border-box;
}

.sub_mn02 {
    padding: 20px 0 0 20px;
}

.sub_mn02 li {
    padding: 0 0 7px;
    text-align: left;
}

.sub_mn02 >li > a {
    display: block;
    position: relative;
    padding: 0 0 0 14px;
    font-weight: 400;
    font-size: 16px;
    color: #555;
    line-height: 21px;
    letter-spacing: -0.5px;
}

.header_right_box {
    padding: 40px 0 0;
}

.header_link_list {
    display: flex;
    padding: 0 18px 0 0;
}

.header_link_list ul {
    display: flex;
}

.header_link_list ul li {
    position: relative;
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}

.header_link_list ul li a {
    font-weight: 100;
    font-size: 14px;
    color: #fff;
    line-height: 19px;
}

.header_link_list ul li ::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 10px;
    background-color: #babdc0;
}

.header_link_list a {
    margin-top: -6px;
}

.header_link_list a img {
    padding: 5px;
    border: 1px solid #fff;
}

#main .container {

}

#main .main_visual_wrap {

}

#main .main_visual_box {
    /* padding: 99px 0 0; */
}

#main .swiper_container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

#main .swiper_wrapper {
    
}

#main .swiper_slide{
    /* width: 1412px; */
    height: 100%;
}

#main .vi_img_box {
    height: 675px;
}

#main .vi_img_box .pc{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#main .vi_img_box .mobile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: none;
    visibility: hidden;
}

#main .main_visual_wrap1 {

}

#main .main_content_box01 {
    overflow-x: hidden;
}

#main .main_mini_wraps {
    margin: 0 auto;
    padding: 115px 0 100px 0;
    width: 100%;
    max-width: 1400px;
}

#main .main_mini_box {

}

#main .tit_box {
    padding: 0 0 30px;
    text-align: center;
    letter-spacing: -0.6px;
}

#main .main_title {
    font-weight: 700;
    font-size: 34px;
    color: #003964;
    line-height: 39px;
    padding: 0 0 10px;
}

#main .main_tab_box {
    position: relative;
    min-height: 433px;
    box-sizing: border-box;
}

#main .main_tab_box ul {
    border-bottom: 1px solid #e4e4e4;
    font-size: 0;
    text-align: center;
}

#main .active {
    display: inline-block;
    padding: 0 60px 0 0;
    vertical-align: middle;
}

#main .mini_board_tab {
    font-weight: 500;
    display: block;
    position: relative;
    padding: 0 0 19px;
    font-size: 22px;
    line-height: 27px;
    color:#0052ff;
}

#main .mini_board_tab ::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color:#0052ff;
}

#main .mini_board_content {
    display: block;
    position: absolute;
    top: 102px;
    left: 0;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

#main .swiper_container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

#main .swiper_wrapper02 {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

#main .swiper_slide02 {
    position: relative;
    margin: 0 30px 0 0;
    padding: 0 10px 20px 0;
    width: calc(25% - 22.5px);
    background: url("../Office-for/img/bg-main-news-list.png")no-repeat 0 0 / 100% 100%;;
}

#main .swiper_slide02 a {
    position: relative;
    border: 1px solid #d8d8d8;
    display: block;
    padding: 28px 35px 38px 35px;
    text-align: left;
}

/* #main .swiper_slide02 a ::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -41px;
    right: -41px;
    width: 80px;
    height: 80px;
    border-top: 1px solid #d8d8d8;
    background: #fff;
    transform: rotate(-45deg);
} */

#main .new {
    position: absolute;
    top: 28px;
    left: 35px;
    width: 65px;
    height: 25px;
    background: #0052ff;
    text-align: center;
}

#main .new::before {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: rotate(45deg);
}

#main .new span {
    display: block;
    padding: 7px 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 1;
}

/* #main .new span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: rotate(45deg);
} */

#main .mini_title {
    display: -webkit-box;
    margin: 55px 0 18px;
    height: 56px;
    font-weight: 400;
    font-size: 18px;
    color: #222;
    line-height: 28px;
    letter-spacing: -0.5px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

#main .mini_text {
    display: -webkit-box;
    margin: 0 0 30px;
    height: 84px;
    font-weight: 400;
    font-size: 16px;
    color: #555;
    line-height: 28px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

#main .mini_date {
    font-weight: 200;
    font-size: 16px;
    color: #555;
    line-height: 21px;
}

#main .main_content_wrap06 {
    background-color: #edf3f8;
}

#main .main_mini_wras06 {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding: 80px 0;
    width: 100%;
    max-width: 1400px;
}

#main .main_mini_box01 {
    width: 44%;
}

#main .tit_box06 {
    padding: 0 0 30px;
    text-align: center;
}

#main .main_title06 {
    font-weight: 700;
    font-size: 34px;
    color: #003964;
    line-height: 39px;
}

#main .main_shorts_box {
    display: flex;
    gap: 25px;
}

#main .shorts_item {
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

#main .shorts_item06 {
    display: block;
    position: relative;
    padding-bottom: 150%;
    height: 0;
}

#main .shorts_item06 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

#main .main_mini_box02 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56%;
}

#main .main_youtube_box {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#main .main_youtube_box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main .main_mini_wrap {
    display: flex;
    text-align: center;
    gap: 50px 20px;
    margin: 0 auto;
    padding: 95px 0 85px;
    width: 100%;
    max-width: 1400px;
}

#main .main_mini_box03 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#main .tit_box03 {
    padding: 0;
    width: 100%;
}

#main .main_title04 {
    padding: 0 0 40px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 34px;
    color: #003964;
    line-height: 39px;
}

#main .main_quick_link_box {
    width: 100%;
}

#main .main_quick_link_box ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#main .zoom {
    width: 30%;
}

#main .monitor {
    width: 30%;
}

#main .notice {
    width: 30%;
}

#main .zoom a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main .zoom a span {
    position: relative;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    color: #222;
}

#main .monitor a {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main .monitor a span {
    position: relative;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    color: #222;
}

#main .notice a {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main .notice a span {
    position: relative;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    color: #222;
}

/*  */
#main .zoom a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main .zoom a span {
    position: relative;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    color: #222;
}

#main .monitor1 {
   margin: 28px 40px;
}

#main .monitor1 a {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main .monitor1 img {
     
}

#main .monitor1 a span {
    position: relative;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    color: #222;
}

#main .notice1 img {
    width: 101px;
}

#main .notice1 a {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main .notice1 a span {
    position: relative;
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;
    color: #222;
}

#main .main_content_wrap04 {

}

#main .main_mini_wrap04 {
    background: #053863 url("/img/bg-main-banner.png") no-repeat right 12% bottom -150%;
}

#main .main_banner_box04 {
    margin: 0 auto;
    padding: 17px 0 0;
    width: 100%;
    max-width: 1400px
}

#main .banner_con_box04 {
    display: flex;
    align-items: start;
    position: relative;
}

#main .banner_img_wrap {
    max-width: 285px;
}

#main .banner_img_wrap img {
    max-width: 100%;
}

#main .banner_txt_wrap {
    padding: 35px 0 35px 30px;
    width: 100%;
}

#main .tit_box04 {
    padding: 0 0 45px;
}

#main .banner_tit01 {
    padding: 0 0 10px;
    font-weight: 200;
    font-size: 24px;
    color: #fff;
    line-height: 29px;
}

#main .banner_tit02 {
    font-weight: 200;
    font-size: 40px;
    color: #fff;
    line-height: 45px;
}

#main .banner_tit02 span {
    font-weight: 500;
}

#main .banner_sign_box {
    float: right;
    padding: 10px 90px 0 20px;
    text-align: right;
}

#main .sign_txt {
    font-weight: 200;
    font-size: 18px;
    color: #fff;
    line-height: 23px;
}

#main .sign_txt img {
    width: 90px;
    mix-blend-mode: lighten;
}

#main .banner_lnk_box ul li {
    display: inline-block;
    padding: 10px 15px 10px 0;
    background-color: #053863;
}

#main .banner_lnk_box ul li a {
    display: block;
    min-width: 192px;
    padding: 13px 10px;
    border: 1px solid rgba(255, 255, 255, .5);
    text-align: center;
    box-sizing: border-box;
}

#main .banner_lnk_box ul li a span {
    font-weight: 200;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
}

#main .banner_lnk_box ul li a span img {
    margin-left: 10px;
    margin-top: -2px;
}

#main .main_content_wrap02 {
    background-color: #f7f7f7;
}

#main .main_content_box02 {
    overflow: hidden;
}

#main .main_mini_wrap02 {
    margin: 0 auto;
    padding: 80px 110px 60px 110px;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
}

#main .press_release_box {
    position: relative;
}

#main .swiper_container02 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: inherit;
    list-style: none;
    padding: 0;
    z-index: 1;
}

#main .swiper_wrapper02 {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#main .swiper_slide_active02 {
    width: 1172px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
}

#main .release_img_box {
    position: relative;
    float: right;
    width: 76.6%;
    height: 560px;
}

#main .release_img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main .release_con_box {
    position: absolute;
    opacity: 1;
    width: 43%;
    min-height: 325px;
    top: 66.5%;
    padding: 50px 40px;
    background-color: #fff;
    box-sizing: border-box;
    transform: translateY(-50%);
}

#main .release_txt_box {

}

#main .date {
    padding: 0 0 12px;
    font-weight: 300;
    font-size: 14px;
    color: #222;
    line-height: 19px;
}

#main .txt01 {
    margin: 0 0 16px;
    max-height: 80px;
    font-weight: 500;
    font-size: 28px;
    color: #222;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#main .txt02 {
    display: -webkit-box;
    max-height: 56px;
    font-weight: 200;
    font-size: 16px;
    color: #222;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#main .btn_more {
    text-align: center;
    background: none;
    border: 1px solid #0052ff;
    position: absolute;
    right: 40px;
    bottom: 30px;
    width: 180px;
    height: 45px;
}

#main .btn_more a {
    font-weight: 300;
    display: block;
    padding: 13px 10px 12px 10px;
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
    color:#0052ff;
}

#main .main_content_wrap08 {

}

#main .main_mini_wrap08 {
    margin: 0 auto;
    padding: 95px 0 60px;
    width: 100%;
    max-width: 1400px;
}

#main .main_mini_box08 {

}

#main .tit_box08 {
    padding: 0 0 35px;
    text-align: center;
}

#main .main_title08 {
    font-weight: 700;
    font-size: 34px;
    color: #003964;
    line-height: 39px;
    padding: 0 0 10px;
    font-family: 'Pretendard';
}

#main .main_tab_box08 {
    position: relative;
    min-height: 592px;
}

#main .main_tab_box08 ul {
    text-align: center;
}

#main .insta_active08 {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 2px;
}



#main .mini_board_tab08 {
    display: inline-block;
}

#main .mini_board_tab08 img {

}

#main .mini_board_content {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    text-align: left;
}

#main .main_sns_box08 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

#main .swiper_wrapper08 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
}

#main .swiper_slide_active08 {
    display: table;
    margin: 0 40px 0 0;
    width: 69%;
    table-layout: fixed;
    height: 100%;
    flex-shrink: 0;
    position: relative;
}

#main .sns_img_box08 {
    width: 43%;
    height: 500px;
    display: table-cell;
    vertical-align: middle;
}

#main .sns_img_box08 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#main .sns_con_box08 {
    position: relative;
    width: 57%;
    padding: 45px 0 40px 50px;
    display: table-cell;
    vertical-align: middle;
}

#main .txt_box08 {
    padding: 0 0 130px;
}

#main .txt8 {
    padding: 0 0 30px;
    font-size: 20px;
    color: #222;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#main .txt9 {
    display: -webkit-box;
    margin: 0 0 55px;
    font-weight: 200;
    font-size: 20px;
    color: #222;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#main .date08 {
    font-weight: 200;
    font-size: 14px;
    color: #555;
    line-height: 19px;
}

#main .btn_sns_more08 {
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 180px;
    height: 45px;
    text-align: center;
    border: 1px solid #0052ff;
}

#main .btn_sns_more08 a {
    display: block;
    padding: 13px 10px 12px 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #0052ff;
}

#main .facebook {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 2px;
}

#main .mini_board_tab08 {
    display: inline-block;
}

footer {
    background-color: #1c2935;
}

.main_content_lnk_wrap {
    background-color: #f7f7f7;
}

.top_footer_box {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    height: 63px;
    max-width: 1400px;
}

.footer_relation_box {

}

.related_site_wrap {
    position: relative;
    float: left;
    margin: 0px 26px 0 0;
    width: calc(25% - 26px);
}

.related_site_title {
    display: block;
    padding: 16px 40px 16px 25px;
    border: 1px solid #a0beff;
    background: #fff;
}

.related_site_title ::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #0052ff transparent;
    transform: translateY(-50%);
}

.related_site_title span {
    font-size: 16px;
    color: #222;
    line-height: 21px;
}

.related_site {
    display: none;
    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
    z-index: 10;
    padding: 10px 20px;
    width: 100%;
    max-height: 285px;
    border: 1px solid #a0beff;
    background-color: #fff;
    overflow-y: auto;
    box-sizing: border-box;
}

.related_site li a {
    font-size: 15px;
    color: #222;
    line-height: 20px;
}

.bottom_footer_wrap {

}

.bottom_footer_box {
    margin: 0 auto;
    padding: 40px 0 38px 0;
    width: 100%;
    max-width: 1400px;
}

.bottom_foot_inner {
    display: flex;
}

.left_box {
    padding: 0 77px 0 0;
}

.footer_logo_wrap {
    display: block;
}

.footer_logo_wrap img {
    width: 214px;
}

.right_box {
    display: flex;
    width: calc(100% - 291px);
}

.footer_util_box {
    padding: 0 20px 20px 0;
}

.privacy {
    display: inline-block;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0 15px 5px 0;
}

.privacy a {
    color: #FBF24C;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
}

.privacy ::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: #fff;
}

.privacy1 {
    display: inline-block;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0 15px 5px 0;
}

.privacy1 a {
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    line-height: 23px;
    letter-spacing: -0.3px;
}

.privacy1 ::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: #fff;
}

.privacy2 {
    display: inline-block;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0 15px 5px 0;
}

.privacy2 a {
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    line-height: 23px;
    letter-spacing: -0.3px;
}

.privacy2 ::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: #fff;
}

.privacy3 {
    display: inline-block;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0 15px 5px 0;
}

.privacy3 a {
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    line-height: 23px;
    letter-spacing: -0.3px;
}

/* .privacy3 ::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: #fff;
} */

.footer_info_wrap {
    padding: 0 160px 0 0;
}

.address_box p {
    padding: 0 0 3px;
    font-weight: 200;
    font-size: 14px;
    color: #ccc;
    line-height: 24px;
    letter-spacing: -0.5px;
    word-break: keep-all;
}

.address_box p span {
    display: inline-block;
    padding: 0 3px 0 0;
}

.address_box p a {
     font-weight: 200;
    font-size: 14px;
    color: #ccc;
}

.copyright {
    font-weight: 200;
    font-size: 14px;
    color: #ccc;
    line-height: 24px;
    letter-spacing: -0.5px;
    word-break: keep-all;
}

.footer_mark_box {
    position: relative;
}

.header_shortcut {
    display: block;
    margin: 0 0 20px;
    padding: 16px 20px 16px 77px;
    min-width: 227px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #fff;
    line-height: 21px;
    box-sizing: border-box;
}

.header_shortcut img {
   position: absolute;
    left: 26px;
    top: 10px;
    width: 36px;
}

.footer_mark {
    font-size: 0;
    text-align: right;
}

.footer_mark li {
    display: inline-block;
    padding: 0 30px 0 0;
}

.footer_mark li a {
    display: block;
}

.footer_mark .footer_markimg a img {
    width: 86px;
}

.footer_mark li a img {
    width: 100%;
    height: 100%;
}